@import 'antd/dist/antd.css';

.title{
  margin-top: 20px;
  color: #666;
  text-align: center;
  font-size: 30px;
  width: 100vw;
}
.main{
  padding: 20px;
  text-align: center;
}

.input{
  display: block;
  width: 250px;
  margin: 10px 0;
  border-radius: 5px;
  color: #666;
}
.submit-btn,.submit-btn:hover,.submit-btn:active,.submit-btn:visited{
  width: 250px;
  border-color: #df8344;
  background-color: #df8344;
  color: #fff;
  outline-color: #df8344;
}